<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 테스트 -->
 <mapper namespace="com.community.post.mapper.PostMapper">
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	
 	<!-- 게시물 목록 조회 -->
 	<select id="selectPostList" resultType="com.community.post.domain.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
 	</select>
 	
 	<select id="selectPostByPostId" parameterType="int" resultType="com.community.post.domain.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
 	</select>
 	
 	
 	<!-- 게시물 생성 -->
 	<insert id="insertPost" parameterType="com.community.post.domain.Post">
 		INSERT INTO `post`
 		(
 			`userId`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{subject}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<!-- 이미지 경로 저장 -->
 	<insert id="insertImagePath" parameterType="map">
 		INSERT INTO `image`
 		(
 			`userId`
			,`postId`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, #{imagePath}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 </mapper>