<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content"
	class="contents d-flex justify-content-center align-items-center">
	<div class="w-50">
		<h1>글 상세</h1>
		<div class="card border rounded mt-3">
			<!-- 글쓴이, 더보기(삭제) -->
			<div class="p-2 d-flex justify-content-between">
				<span class="font-weight-bold" th:text="${postView.user.loginId}">글쓴이</span> <span
					class="font-weight-bold" th:text="${postView.post.subject}">글 제목</span>
				
				<!-- 더보기 (로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
				<a th:if="${session.userId == postView.post.userId}" href="#" class="more-btn" th:data-post-id="${postView.post.id}" data-toggle="modal" data-target="#modal2"> 
					<img src="/img/notepad.png" width="30">
				</a>
				<div th:unless="${session.userId == postView.post.userId}"></div>
			</div>

           <!-- 이미지가 있을 때만 영역 노출 -->
            <div class="justify-content-center my-3" th:if="${! #lists.isEmpty(postView.imageList)}">
                <div class="m-2" th:each="image : ${postView.imageList}">
                    <img th:src="|${image.imagePath}|" alt="각각 이미지" width="300">
                </div>
            </div>

			<!-- 글 -->
			<div class="card-post m-3"> 
				<span th:text="${postView.post.content}">글 내용입니다!!!!</span>
			</div>

			<!-- 좋아요 -->
			<div class="card-like m-3">
				<a href="#" class="like-btn" th:data-post-id="${postView.post.id}">
					<img th:if="${postView.filledLike == false}" src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="empty heart"> 
					<img th:unless="${postView.filledLike == false}" src="https://www.iconninja.com/files/527/809/128/heart-icon.png" width="18" height="18" alt="filled heart"> 
				</a>
				<span th:text="|좋아요 ${postView.likeCount}개|"></span>
			</div>


			<!-- 댓글 -->
			<div class="card-comment-title border-bottom">
				<div class="font-weight-bold ml-3 mb-1">댓글</div>
			</div>


			<!-- 댓글 목록 -->
			<div class="card-comment-list m-2">
				<!-- 댓글들 -->
				<div class="card-comment m-1" th:each="commentView : ${postView.commentList}">
					<span class="font-weight-bold" th:text="${commentView.user.loginId}">댓글쓰니</span>
					<span th:text="${commentView.comment.content}">댓글 내용임</span>

					<!-- 댓글 삭제(자신의 댓글만 가능) -->
					<a href="#" class="comment-del-btn" th:if="${session.userId == commentView.comment.userId}" th:data-comment-id=${commentView.comment.id}> 
						<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
					</a>
				</div>

				<!-- 댓글 쓰기 -->
				<div class="comment-write d-flex border-top mt-2">
					<input type="text" id="postComment"
						class="comment-input form-control border-0 mr-2 col-9"
						placeholder="댓글 달기">
					<button type="button" class="comment-btn btn btn-light col-3"
						th:data-post-id="${postView.post.id}">게시</button>
				</div>
			</div>
			<!-- 댓글 끝 -->
		</div>
		
		<!-- Modal: 타임리프 레이아웃 때문에 section 태그 안쪽에 위치 -->
		<div class="modal fade" id="modal2">
			<!-- modal-sm:작은 모달창, modal-dialog-centered:수직 가운데 정렬 -->
			<div class="modal-dialog modal-sm modal-dialog-centered">
				<div class="modal-content text-center">
		      		<div class="py-3">
		      			<a th:href="|/onePost/post-update-view?postId=${postView.post.id}|" id="postUpdateBtn" th:data-post-id="${postView.post.id}">수정하기</a>
		      		</div>
		      		<div class="py-3 border-top">
		      			<a href="#" id="postDeleteBtn" class="text-danger">삭제하기</a>
		      		</div>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {

			// 댓글 쓰기
			$(".comment-btn").on('click', function() {
				let postId = $(this).data("post-id");
				let content = $("#postComment").val();

				// AJAX
				$.ajax({
					type : "post",
					url : "/comment/create",
					data : {
						"postId" : postId,
						"content" : content
					},
					success : function(data) {
						if (data.code == 200) {
							location.reload();
						} else {
							alert("data.error_message");
						}
					},
					error : function(error) {
						alert("댓글쓰기에 실패했습니다.")
					}
				}) // ajax 끝
			}); // 댓글쓰기 끝

			// 댓글 삭제
			$(".comment-del-btn").on("click", function(e){
				//alert("삭제");
				let commentId = $(this).data("comment-id")
				//alert(commentId);
				e.preventDefault();
				
				$.ajax({
					type:"delete"
					, url:"/comment/delete"
					, data: {commentId:commentId}
					, success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else {
							alert(data.error_message);
						}
					}
					, error: function(error) {
						alert("댓글 삭제 하는데 실패했습니다.");
					}
					
				}); // 댓글 삭제ajax 끝
				
				
			}); // 댓글 삭제 끝
			
			// 좋아요 클릭
			$(".like-btn").on("click", function(e) {
				//alert("클릭");
				let postId = $(this).data("post-id");
				//alert(postId);
				e.preventDefault();
				
				//AJAX
				$.ajax({
					url: "/like/like"
					, data: {"postId" : postId}
					, success: function(data) {
						if (data.code= 200) {
							location.reload(true);
							
						} else if (data.code == 403) {
							alert(data.error_message);
							location.href = "/user/sign-in-view";
						}
					}
					, error:function(error) {
						alert("좋아요 토글에 실패했습니다.");
					}
					
				}); // 좋아요 AJAX 끝
				
			}); //좋아요 끝
			
			// 더보기
			$(".more-btn").on('click', function(e) {
				let postId = $(this).data('post-id');
				//alert(postId);
				
				// 1개만 존재하는 modal을 재활용하기 위해 data-post-id를 심어놓는다.
				//$("#modal").data('post-id', postId); // setting
				//($("#modal").data('post-id'));
			
			}); // 더보기 끝
			
			$("#postDeleteBtn").on('click', function(e) {
				e.preventDefault(); // a 태그 위로 올라감 방지
				let postId = $("#modal").data("post-id");
				//alert(postId);
				
				// 글 삭제
				$.ajax({
					type:"delete"
					, url:"/post/delete"
					, data: {"postId":postId}
					, success: function(data) {
						if (data.code == 200) {
							location.href="/post/post-list-view";
						} else {
							alert(data.error_message);
						}
					}
					, error: function(e) {
						alert("삭제하는데 실패했습니다.");
					}
				});
			});
			
		}); //ready 함수 끝
	</script>
</th:block>