<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents d-flex justify-content-center align-items-center">
	<div class="sign-up-box">
		<form id="signUpForm" method="post" action="/user/sign-up">
			<table class="sign-up-table table table-bordered">
				<tr>
					<th>* 아이디<br></th>
					<td>
						<div class="d-flex">
							<input type="text" id="loginId" name="loginId" class="form-control col-9" placeholder="아이디를 입력하세요.">
							<button type="button" id="loginIdCheckBtn" class="btn btn-primary ml-2">중복확인</button><br>
						</div>
						
						<!-- 아이디 체크 결과 -->
						<div id="idCheckLength" class="small text-danger d-none">아이디를 입력해주세요.</div>
						<div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 아이디입니다.</div>
						<div id="idCheckOk" class="small text-success d-none">사용 가능한 아이디 입니다.</div>
					</td>
				</tr>
				<tr>
					<th>* 비밀번호</th>
					<td><input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
				</tr>
				<tr>
					<th>* 비밀번호 확인</th>
					<td><input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호를 입력하세요."></td>
				</tr>
				<tr>
					<th>* 이름</th>
					<td><input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요."></td>
				</tr>
				<tr>
					<th>* 이메일<br></th>
					<td>
						<div class="d-flex">
							<input type="text" id="email" name="email" class="form-control col-9" placeholder="이메일을 입력하세요.">
							<button type="button" id="loginIdCheckBtn" class="btn btn-primary ml-2">중복확인</button><br>
						</div>
						
						<!-- 이메일 체크 결과 -->
						<div id="emailCheckLength" class="small text-danger d-none">이메일을 입력해주세요.</div>
						<div id="emailCheckDuplicated" class="small text-danger d-none">이미 사용중인 이메일입니다.</div>
						<div id="emailCheckOk" class="small text-success d-none">사용 가능한 이메일 입니다.</div>
					</td>
				</tr>
			</table>
			<br>
			<div class="d-flex justify-content-center">
				<button type="submit" id="signUpBtn" class="btn btn-primary btn-lg btn-block">회원가입</button>
			</div>
		</form>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
	
	</script>
</th:block>
</html>