<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center align-items-center">
	<div class="login-box w-50">
		<h1 class="mb-4">로그인</h1>
		
		<form id="loginForm" action="/user/sign-in" method="post">
			<div class="input-group mb-3">
				<input type="text" class="form-control" id="loginId" name="loginId" placeholder="아이디를 입력하세요.">
			</div>
	
			<div class="input-group mb-3">
				<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요.">
			</div>
			
			<div>
				<a class="findIdPw" href="/user/find-view">아이디/비밀번호 찾기</a>
			</div>
			
			<input type="submit" id="loginBtn" class="btn btn-block btn-primary mt-5" value="로그인">
			<a class="btn btn-block btn-dark" href="/user/sign-up-view">회원가입</a>
		</form>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			// 로그인
			$("form").on('submit', function(e) {
				e.preventDefault();
				//alert("로그인");
				let loginId = $("#loginId").val().trim();
				let password = $("#password").val();
				
				if (!loginId) {
					alert("아이디를 입력하세요");
					return false;
				}
				
				if (!password) {
					alert("비밀번호를 입력하세요");
					return false;
				}
				
				let url = $(this).attr("action");
				//console.log(url);
				let params = $(this).serialize();
				//console.log(params)
				
				// AJAX
				$.post(url, params)
				.done(function(data) {
					if (data.code == 200) {
						location.href ="/post/post-list-view"; 
					} else {
						alert(data.error_message);
					}
				});
			}); // 로그인 서브밋 끝
			
		});
    </script>
</th:block>