@charset "UTF-8";

.photo {min-height: 800px;}
header {height:100px;}
.contents {min-height:953px;
			background-color:#FFFFFF}

.sign-up-box {
	width:600px;
	background-color: #f1f1f1}
	
.findIdPw {color: #000000;}

#writePlusBtn {color: #000000;}